body{
   
    font-family: sans-serif;
    font-style: normal;
    color:white;
    margin:0px;
}
.cover{
    background-image: url("assets/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    height:120vh;
}
section { height: 100vh; background-color:gray; border-bottom:1px solid black; margin-top:0px;}

nav{
     display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

.menu a{
display:block;
background-color:rgba(10,10,10,0.7);
padding:10px;
color:peachpuff;
text-decoration: none;
}
.menu a:hover{
    text-decoration: underline;
}


.menu{
    margin-right:50px;
    margin-top:50px;
}

.logo{
    margin-left:50px;
    font-size:3em;
    font-family: sans-serif;
}
.logo div{
    margin:3px;
}

nav{
    color:white;
    font-size:2em;
}

